@import "headerAndFooter.css";

.content div{   display: inline-block;
	width: 500px;
	min-height: 50px;

	height: auto;
}
.left div{float:left;
width:75%;
overflow:hidden}
.right div{float:left;
width:25%;
overflow:hidden;}
