@import "headerAndFooter.css";

.content div{   display: inline-block;
	width: 500px;
	min-height: 50px;

	height: auto;
}
.left div{display: inline-block;float: left;}
.right div{display: inline-block;position: absolute;float: right;}
