@import "headerAndFooter.css";


h2 {
    text-align: center;
    color: gray;
}
p{text-align: center;}

td{color: white;}

td.even{color: black;}
td.odd{color: white;}

.about h2, .about p{
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #D3D3D3;

}

table{
    margin-left:auto;
    margin-right:auto;
}

th{background-color: goldenrod;}

tbody.c{color: purple}

tr.even {background: #EEFFEE;}

tr.odd {background: #afc7fe;}
