
@import "background.css";
footer>ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
footer>ul>li {
    display: inline;
    margin-right: 20px;
	
}
footer>ul>li>a{
color:white;
}



.blurb h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
	color: gray;
}
.blurb p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: white;
}
.const h2, p{
	color: white;
	font-family:"Comic Sans MS", cursive, sans-serif;
}


footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}







